@charset "UTF-8";

form {
		width: 700px;
		margin: 0 auto;
}
table {
	width: 700px;
	border-top: solid 3px black;
}
td{
	border-bottom: solid 1px #eeeeee;
	padding: 5px;
}
td input {
	width: 500px;	height: 30px;
}
td textarea {
	width: 500px;	height: 100px;	resize: none;
}
.btnbox{ text-align: right; }
.btnbox input{ padding: 5px 20px; margin: 20px 5px; }