@charset "UTF-8";

*{/*기본설정*/
	margin: 0px; padding: 0px; text-decoration: none; 
	list-style: none; color: black; font-style: '맑은 고딕';
}
@font-face {
    font-family: 'RixInooAriDuriR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/RixInooAriDuriR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.webbox{
	width: 1200px; /*가로*/
	margin: 0 auto;/*가운데 정렬*/
}
/*상단헤더 시작*/
.head_top{
	display: flex;/*자식 요소 가로배치*/
	justify-content: space-between;
	margin: 10px 0px 20px 0px; /*시계 방향으로 돌아가는 바깥여백*/
}
.hd_sub{
	display: flex;
	font-size: 12px;
	align-items: center;
}
.hd_sub li{
	margin-left: 20px;
}
.hd_title a{
	font-family: 'RixInooAriDuriR';
	font-size: 35px
}
/*상단헤더 끝*/

/*하단헤더 시작*/
.hd_menu{
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}
.searchbox input{border: none;}
.searchbox span{border-bottom: solid 1px black; margin: 0px 20px 0px 100px;}
.fa-search , fa-shopping-cart {font-size: 20px;}
.hd_menu li:nth-child(1) a {color: red;	font-weight: bold;}
.hd_menu li:nth-child(2) a {color: blue;	font-weight: bold;}
.hd_menu li:nth-child(10) a {color: gray;	font-weight: bold;}
.hd_menu li:nth-child(11) a {color: purple;	font-weight: bold;}
































