@charset "UTF-8";

/* p.123 */
.btn{
	color: #fff; /* 폰트색 */
	font-size: 1.5rem; /* 폰트사이즈 */
	border-radius: 5px; /* 둥근모서리 */
	text-decoration: none; /*밑줄제거 */
	background-color: #5fb2c1; /*배경색*/
	box-shadow: 0 3px #3b8a98; /*그림자 */
			/* x축 y축 */
	position: relative;		/* 상대위치 */
	top : -2px;				/* 위로 2px 이동배치 */
	padding : 10px 20px;
	display: inline-block;
	
}
.btn:hover{ /*마우스를 올렸을때 이벤트*/
	box-shadow: 0 1px #3b8a98;
	top : 1px;
}