@charset "UTF-8";

h1{
	font-size: 2rm;
	font-family: '굴림';
	font-weight: bold;
	display: inline-block;
	background-image: linear-gradient(transparent 50%, #ff6 50%);
		/*선형그라데이션 : transparent(투명색)*/
	padding-bottom: .25rem;
}