@charset "UTF-8";

section{
	height: 70vh;
	scroll-snap-type: y mandatory;
	scroll-snap-align: start;
	font-family: 'Silkscreen', cursive;
}
h2{
	font-family: 'Silkscreen', cursive;/*구글웹폰트*/
	font-size: 3rem;
	padding-top: 3px;
}
.1 , .2 , .3 , a{
	font-size: 3rem;
	margin-bottom: 5px;
}
h3{ font-size: 1rem; }

.akfxlwm{
	background-image: url("이미지/이누2.jpg");
	text-align: center;
	background-size: contain;
}
.vnemf{
	background-image: url("이미지/가지.jpg");
	background-size: contain;
	text-align: center;
}
.rhdiddl{
	background-image: url("이미지/호두.jpg");
	background-size: contain;
	text-align: center;
}
.contact{
	background-image: url("이미지/땅콩.jpg");
	background-size: contain;
	text-align: center;
}
.contactsns{
	display: flex;
	justify-content: center;
}
/*미디어 쿼리 : 사이즈에 따라 css적용*/
@media (max-width:700px) {
	.title{
		font-size: 4rem;
		color: blue;
	}
}