@charset "UTF-8";
/*
    1. 식별자 : 꾸미기 대상 
    2. 속성   : 
    3. 값    : 
	식별자{속성명 = 값;}
	복수선택 식별자 , 식별자 , 식별자{}
	하위선택 식별자 식별자 식별자{}
	
	inline : span , a ,img
	block : div , ul , li , p 
	inline-block: 
	none: 

*/
*{font-family: 굴림;}

h3{text-align: center;}

.signupbox{
	width:700px;
	margin: 0 auto;
	border-bottom: solid 2px red;
	border-top: solid 2px red;
	padding: 30px;
}
li{list-style-type: none;}

.cols li{display: inline-block;}
.cols{ padding: 5px;}
.col1{ width: 150px;}
.col2 input { width: 200px; 
		      height: 20px;
}
.col2 select {width: 150px;
			  height: 20px;
}
.hello {vertical-align: top;} /* 세로정렬 */
textarea{ resize: none;}
.buttonbox{
	 	width: 600px;
	 	margin: 0 auto;
	 	text-align: right;
}
.buttonbox input{
	padding: 10px 20px;
	margin-top: 20px;
}