@charset "UTF-8";

.home_page{margin: 0 auto;
	width: 480px;
	height: 500px;

	background-color: white;
}
/*로고*/
.member-header {
    position: relative;
}
.member_logo_img{
	margin: 0 auto;
    padding: 0;
    text-align: center;
    display: flex;
}
/*로그인*/
.fa-solid fa-envelope::before{
	content: "\f0e0";
}
