@charset "UTF-8";

/*css기본값*/

*{ margin: 0; padding: 0; box-sizing: border-box;
	border: solid 1px red; }
	
li{ list-style-type: none; }

/*박스권*/
.box{
	clear: both; 
	width: 80%;
	margin: 0 auto;
	background-color: #eeeeee;
}